<!DOCTYPE html>

<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="./app/Style/style.css">  
        <link rel ="icon" href="./img/Favicon/favicon.ico"> 
        <title>Lostus sistemas</title>
    </head>
    <body>
        <div id="corpo">
            <div id="topo">
                <header>
                    <nav>
                        <a href="http://localhost/php_mvc_crud/">Home</a> |
                        <a href="http://localhost/php_mvc_crud/?pagina=sobre">Sobre</a>
                        <a href="http://localhost/php_mvc_crud/?pagina=admin&metodo=index" class= "flutuacao-dir">Admin</a>
                    </nav>
                </header>    
            </div>
            <div id="conteudo">
               {{area_dinamica}}
            </div>
        </div>

        

    </body>
</html>